.neon-text {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

body {
  font-size: 18px;
  font-family: "Vibur", sans-serif;
  background-color: #010a01;
}

h1,
h2 {
  text-decoration: uppercase;
  font-weight: 400;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 1.8rem;
}

.container {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.glow-text {
  margin: 0 auto;
  width: 350px;
  border: 1px solid lightslategray;
  border-radius: 15px;
}

p {
  color: white;
}

.title {
  font-size: 50px;
  color: white;
  text-align: center;
  margin-top: 10vh;
}

/* FLICKERING EFFECT */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
  }
}
